

#main{
    padding-top: 85px;
}


#outlet-wrapper {
    display: flex;
    justify-self: center;
    /* flex: 1; This takes up remaining space */
    overflow-y: auto;
    padding-bottom: 60px;
    width: 100%;
}

@media (min-width: 576px) {
    #outlet-wrapper {
        padding-bottom: 0;
    }
}