#signup{
    width: 100%;
    padding: 0 24px 0 24px;
    flex: 1 1 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#signup #container {
    background-color: white;
    padding: 16px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

#create-account-button  {
    width: 100px;
    height: 50px;
    background-color: #8E7CC3;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

#form-container{
    padding: 8px;
}

.input {
    padding: "10px 12px 10px 12px";
    font-size: "16px";
    border-radius: "8px";
    border: "1px solid rgba(0, 0, 0, 0.2)";
    outline-color: "#4CAF50";
    transition: "border-color 0.2s ease-in-out";
}

@media (min-width: 576px) {
    #signup {
        height: 800px;
    }
    #container{
        width: 450px;
        height: 75%;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        /* height: inherit; */
        border-radius: 20px;
        /* border: solid #5A3E99; */
    }
}

@media (min-width: 768px) {
    #container{
        height: 75%;
        width: 650px;
    }
}