
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* background-color: black; */
}

body {
    padding: 0px;
    margin: 0px;
}

/* body {
    margin: 0px;
    padding: 0px;
} */

#root {
    display: flex;
    flex-direction: column;
}