#result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 24px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

#title {
    padding: 0 24px 0 24px;
}

#description {
    display: flex;
    flex-wrap: wrap;
}