#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* height: 100vh; */
    padding: 16px;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#title {
  align-self: flex-start; 
  margin-bottom: 24px;
  padding: 16px;
  font-size: 2rem;
  font-weight: 600;
  box-sizing: border-box;
}


#usernameInput {
    padding: 16px;
    margin: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#passwordInput {
    padding: 16px;
    margin: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#submitButton {
    border-radius: 4px;
    width: 100px;
    height: 50px;
    align-self: flex-end;
    border: none;
    font-weight: bold;
    background-color: #8E7CC3;
}

#submitButton:hover {
    background-color: #5A3E99;
}

@media (min-width: 576px) {
    #mainContainer{
        width: 450px;
    }
}

@media (min-width: 768px) {
    #mainContainer{
        width: 650px;
    }
}