.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    height: auto;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow: hidden;
}

.show {
      display: flex;
}

.hide {
    display: none;
}

.section img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.contentWrapper {
    
}

.paragraph {
    font-size: small;
}

.arrowIcon {
    border-radius: 50%;
    border: solid 2px;
    padding: 12px;
    margin: 12px;
    background-color: white;
}

.arrowIcon:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@media (min-width: 578px) {
    .section img {
        width: 350px; 
        max-width: 100%;
        margin: 0 20px 0 20px;
    }

    .contentWrapper {
        display: flex;
        align-items: center;
        width: 600px;
        height: 450px;
        padding: 8px;
        border-radius: 16px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 1020px) {
    .section img {
        width: 350px; 
        max-width: 100%;
        margin-right: 20px;
    }

    .contentWrapper {
        width: 925px;
        border-radius: 16px;
    }
}